h1 {
  background-color: white;
  margin: 0;
  padding: 1rem 0.6rem 1rem 2rem;
  /* margin-left: 3rem; */
}
.App {
  width: 90%;
  margin: 2rem auto;
}
h2 {
  text-align: center;
  color: red;
}
.input-container {
  margin-left: 3.5rem;
}
.input-container > .search-input {
  width: 12rem;
  padding: 0.3rem 0.2rem;
  outline: none;
}
.input-container > .search-button {
  padding: 0.4rem 0.4rem;
  background-color: #6c757d;
  color: white;
  border: none;
  cursor: pointer;
}
.countries {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 22%);
  /* grid-template-rows: 10rem; */
  grid-gap: 2rem;
}
.countries > div {
  text-align: left;
  margin-left: 1.4rem;
  background-color: white;
}
.countries > div h2 {
  margin: 0 0 0 0.4rem;
}
.countries > div p {
  margin: 0.3rem;
}
.countries > div img {
  width: 100%;
}
